{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block body %}


<h1>What is calculus?</h1>
<p> The fundamental limiting process of calculus are integration and differentition. Isolated instances
of these processes of calculs were considered even in antiquity(culminating in the work of Archimedes), However,
the systematic development of calculs, started only in the seventeenth century, is usually credited to two great pioneers
Newton and Leibinitz. The key to this systematic development is the insight that the two processes of differentition and integration
which had been treated separately, are intimately related by being reciprocal to each other. A fair historical assessment of the
merits cannot attribute the inventon of calculus to sudden unexplainable falshes of genius on the part of one or two individuals.
Many people, such as Fermat, Galileo and kepler, stimulated by the revolutonary new ideas in science, contributed to foundation of calculus.
In fact, Newton's teacher, Barrow, was almost in full possesion of the basic insight into the reciprocity between differentition and
integration,the cornerstone of the systematic calculs of Newton and Leibinitz. Newton has stated the concepts somewhat more clearly;
on the other hand, Leibinitz's ingenius notation and methods of caclculation are highly suggestive  and remain indispensable.
The work of these two men immediately stimulated the higher bracnches of analysis including the calculs of varations and theory
of differential equations, and led to innumerrable applications in science.</p>
{% endblock %}
